{% load static %}

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a style="text-decoration: none" class="link-secondary" href="{% url 'profile-list' %}">
                    <i class="bi-people-fill me-2"></i>All users
                </a>
            </div>
            <div class="col-4 text-center">
                <a href="/">
                    <img class="me-3" src="{% static 'images/logo.svg' %}" alt="" style="height: 60px;">
                </a>
            </div>
            <div class="dropdown text-end col-4 d-flex justify-content-end align-items-center">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {% if user.profile.picture %}
                    <img src="{{ user.profile.picture.url }}" alt="profile picture" width="32" height="32" class="rounded-circle">
                    {% else %}
                    <img src="{% static 'images/anonymous.jpg' %}" alt="default" width="32" height="32" class="rounded-circle">
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownUser">
                    <li>
                        <a class="dropdown-item" href="{% url 'post-create' %}">
                            <i class="bi-plus"></i>
                            New Post
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'profile-detail' user.pk %}">
                            <i class="bi-person-fill"></i>
                            Profile
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'following-list' %}">
                            <i class="bi-people-fill"></i>
                            Following
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'follower-list' %}">
                            <i class="bi-people-fill"></i>
                            Followers
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'blocked-list' %}">
                            <i class="bi-people-fill"></i>
                            Blocked
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="bi-door-open-fill"></i>
                            Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</div>