{% extends 'layouts/default.html' %}
{% load crispy_forms_tags %}
{% block 'content' %}
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Followers</h6>
        <div class="d-flex text-muted pt-3">
        {% if follower is None %}
        <p>
            No Followers Yet
        </p>
        </div>
        {% else %}
        {% for user in users %}
        <div class="d-flex text-muted pt-3">
            <img style="  width: 40px; height: 40px;"
                 src="{{ user.follower.profile.picture.url }}" alt="foto  of following">


            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                <div class="d-flex justify-content-between">
                    <a href="#">
                        <strong class="text-gray-dark">{{user.follower}}</strong>
                    </a>
                </div>
                <span class="d-block">{{user.follower.email}}</span>
            </div>

        </div>
        {% endfor %}
        {% endif %}


    </div>
</main>
{% endblock %}


