{% extends 'layouts/default.html' %}
{% load crispy_forms_tags %}
{% block 'content' %}
<main class="container">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Following</h6>
        <div class="d-flex text-muted pt-3">

            {% if following is False %}
            <p>
                No Following Yet
            </p>
        </div>
        {% else %}
        {% for user in users %}

        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <img style="  width: 40px; height: 40px;"
                     src="{{ user.following.profile.avatar_full }}" alt="following">
            </div>
            <div class="flex-grow-1 ms-3">
                <strong class="text-dark"> <a
                        href="{% url 'profile-detail' user.following.id %}">{{user.following}}</a></strong>
                <span class="text-muted d-block">{{user.following.email}}</span>
            </div>
        </div>


    </div>
    {% endfor %}
    {% endif %}


    </div>
</main>


{% endblock %}