{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Восстановление | Art Blog.</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <!-- Custom styles for this templates -->
    <link href="{% static '/css/auth.css' %}" rel="stylesheet">
</head>
<body class="text-center">

<main class="form-auth">
    <form method="post" action="">
        <img class="mb-4" src="{% static 'images/logo.svg' %}" style="width: 120px" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Восстановить доступ</h1>
        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                   name="email"> <button class="w-100 btn btn-lg btn-primary" type="submit">Reset</button>
        </div>



        <p class="mt-2 text-muted ">
            <a href="{% url 'login' %}" class="text-muted"  >Already have account?</a>
        </p>
    </form>
</main>


</body>
</html>
